.tituloAddNote {
    height: 50px;
    width: 315px;
    border: 0px solid black;
    margin: 15px;
    text-indent: 5px;
    
}

.descripcionAddNote{
    text-indent: 5px;
    height: 400px;
    width: 300px;
    border: 0px solid black;
    max-width: 300px;
    max-height: 400px;
    min-width: 300px;
    min-height: 400px;
}